// for general colors properties
$ntxtCol : aliceblue;
$n2txtCol : black;
$ahover : rgb(5, 97, 5);
$htmlbg : rgb(219, 251, 240);

// for the font styles
$fonttype : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// for button styles
$btn1bg : rgb(14, 155, 14);
$btn1hover : rgb(5, 97, 5);
$btn2bg : yellow;
$btn2hover : rgb(220, 220, 3);
$btn3bg : rgb(54, 53, 53);
$btn3hover : black;
$btn4bg: pink;
$btn4hover : rgb(254, 140, 159);